@tailwind base;
@tailwind components;
@tailwind utilities;

* width */
::-webkit-scrollbar {
    width: 9px;
    background: transparent;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #0e1111;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #2c4c3b;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #306844;
}